<section class="my-5">
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <h5 class="mb-5">Create Product </h5>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product name</label>
                                                <input type="text" class="form-control" name="product_name" placeholder="Enter product name"/>
                                            </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Category ID</label>
                                                <input type="text" class="form-control" name="categoryId" placeholder="Enter product name"/>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product Produccer</label>
                                                <input type="text" class="form-control" name="product_producer" placeholder="Enter product name"/>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product Description</label>
                                                <textarea class="form-control" rows="5" col="5" name="product_description"></textarea>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product Cost</label>
                                                <input type="text" class="form-control" name="product_cost" placeholder="Enter product cost"/>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product Stock</label>
                                                <input type="text" class="form-control" name="product_stock" placeholder="Enter product stock"/>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product Average rating</label>
                                                <input type="text" class="form-control" name="product_avg_rating" placeholder="Enter product stock"/>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product color</label>
                                                <input type="text" class="form-control" name="product_color" placeholder="Enter product color"/>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product dimension</label>
                                                <input type="text" class="form-control" name="product_dimension" placeholder="Enter product dimension"/>
                                            </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product IsActive</label>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="optradio">Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="optradio">No
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Product material</label>
                                                <input type="text" class="form-control" name="product_material" placeholder="Enter product material"/>
                                            </div>
                                    </div>  
                                </div>
                            </form>
                    </div>
                </div>
            </div>
</section>